/* custom navbar style */
nav {
	background-color: rgb(1, 1, 65);
}
.brand-logo {
	margin-left: 15px;
	font-family: 'Rubik', sans-serif;
}

/* column 1 navbar style */
.column-1 {
	background-color: rgb(1, 1, 65);
	text-decoration: none;
	height: 100%;
}
.btn-large {
	background-color: rgb(1, 1, 65);
}

/* form style */
.form-header {
	font-weight: bold;
}
.row .col .s12 {
	margin-left: 15px;
}

/* header test style */
legend {
	font-weight: bold;
}
 .col-form-label{
	 font-size: 16px;
 }